.slick-arrow {
  display: none !important;
}

.slick-list {
  padding-bottom: 20px;
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
}

.slick-slide > div {
  height: 100%;
}
